* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-screen {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 850px;
    background: url(bgGunung.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10%);
}

.icon { font-size: 24px; margin-left: 15px; cursor: pointer;}

.tags-container {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    padding-top: 16px;
}

.tag {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
}

.tag.active { background: #B185DB; }

.fab-add {
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #B185DB;
    border: none;
    color: white;
    font-size: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}